<% base_classes = "border border border-2 rounded-lg p-4 w-full"

variant_classes =
  case @variant
  when "success"
    "bg-green-100 border-green-500 text-green-700"
  when "warning"
    "bg-yellow-100 border-yellow-500 text-yellow-700"
  when "danger"
    "bg-red-100 border-red-500 text-red-700"
  else
    "bg-blue-100 border-blue-500 text-blue-700"
  end

tailwind_classes = "#{base_classes} #{variant_classes}" %>

<div role="alert" class="<%= tailwind_classes %>">

  <h3 class="font-semibold text-lg"><%= @title %></h3>
  <p><%= @description %></p>

</div>
